/* colors */
.bg-color-name-title {
    background-color: #37cbfa;
}

.bg-color-personal-info {
    background-color: #faebd7;
}

.bg-color-three-reasons {
    background-color: #ffffff;
}

.bg-color-work-history {
    background-color: #57a3ba;
}

.bg-color-contact {
    background-color:#a5805b;
}

.ui-menu-color-home {
    background-color: #fa9837;
}

.ui-menu-color-resume {
    background-color: #57a3ba;
}

.ui-menu-color-contact {
    background-color: #a5805b;
}

.ui-menu-color-download {
    background-color: #58727a;
}

/* special padding/margin/text */
h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Anta", sans-serif;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0px 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Anta", sans-serif;
    margin-top: 20px;
    margin-bottom: 35px;
}

/* heading */
header {
    margin: 0;
}

.name {
    font-family: "Anta",sans-serif;
    font-size: 50px;
    margin-top: 10px;
    text-align: center;
    padding: 2px;
}

.title {
    font-family: "Anta", sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
    padding: 3px;
}

.logo {
    background: url("../images/IMG_20240304_154156_165.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    transition: .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-family: "Anta", sans-serif;
    font-size: 12px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    margin: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #000000;
    height: 120px;
}

.menuitem a i {
    padding-top: 20px;
    display: block;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}

/* hover.css */
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height:120px
}

/* footer */
footer {
    background-color: #97c4d2;
    color: #faebd7;
    min-height: 100px;
    margin: 0;
}

.cv-pdf i {
    font-size: 20px;
    color: #faebd7;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e50000;

}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    padding: 18px 4px;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #e50000;
}

#footer-details {
    padding: 20px;
}

/* three reasons */
.three-reasons-icon {
    font-size: 25px;
    color: #e50000;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/* personal info */
.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    display: inline-block;
    padding-right: 10px;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 20%;
    padding-top: 2px;
    margin-right: 16px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 600;
}

.personal-info-item .value {
    position: relative;
    width: 70%;
}

/* skills */
.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    padding: 3px 30px 2 px 10px;
    background-color: rgba(25, 25, 25, 0.2);
    font-weight: 600;
}

.progress-section {
    margin: 40px 20px;
}

/* work history */
.history-heading {
    font-family: "Anta", sans-serif;
    margin-bottom: 30px;
    padding-top: 15px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.history-items {
    margin-bottom: 30px;
}

/* contact form */
.contact-heading {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 20px;
}

.form-group {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 50%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
}

/* media queries */
@media(min-width: 992px){
    .center-form{
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 40%;
    }
}